<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block title %} {% endblock %} - Stack</title>
            <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        <!-- NAVBAR -->
        <nav class="mobile-menu">
            <a href="{{ path_for('home') }}">
                <p class="logo">RL</p>
            </a>
            <label for="show-menu" class="show-menu"><div class="lines"></div></label>
            <input type="checkbox" id="show-menu">
            <ul id="menu">
                <li><a href="{{ path_for('home') }}">HOME</a></li>
            </ul>
        </nav>
        <!-- CONTENT -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
        <footer>
            <!-- Footer here -->
        </footer>

        <!-- Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga ');

	    /* Analytics User -> ID*/
            ga('create', 'ID', 'auto');
            ga('send', 'pageview');

        </script>
    </body>
</html>
